<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="awu.com.awutil">

    <application
        android:name=".context.EasyApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

    </application>

</manifest>
